<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>名字</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < users.length;i++){
        var user = users[i]; %>
    <tr>
        <form class="form-user">
            <td><input name="_id" style="width: 200px;" disabled="disabled" type="text" required="required"
                       value="<%= user._id %>"></td>
            <td><input name="name" type="text" required="required" value="<%= user.name %>"></td>
            <td><input name="age" type="number" required="required" value="<%= user.age %>"></td>
            <td>
                <input type="submit" value="保存">
                <a class="btn-delete" href="/users/delete?_id=<%= user._id %>">删除</a>
            </td>
        </form>
    </tr>
    <% } %>
    </tbody>
</table>

<form id="form-add-user">
    <input type="text" name="name" required="required">
    <input type="number" name="age" required="required">
    <input type="submit">
</form>

<script src="/javascripts/index.js"></script>
</body>
</html>
